@charset "UTF-8";
/* CSS Document */

/*------------ Fonts ------------*/

@font-face {
    font-family: 'Circular Light';
    src: url('fonts/CircularStd-Light.woff2') format('woff2'),
        url('fonts/CircularStd-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Medium';
    src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url(' fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
} 




/*------------ General Styles ------------*/

body, h1, h2, p, a {
  font-family: 'Circular Light', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  line-height: 20pt;
  margin: 0;
  color: #000;
}
    @media (max-width: 800px) {
      body, h1, h2, p, a {
        font-size: 12pt;
        line-height: 17pt;
      }
    }
h1, h2 {
  font-family: 'Circular Medium', Helvetica, sans-serif;
  font-weight: normal;
}
h1, h2, p  {
  margin-bottom: 10px;
}
a {
  color: inherit;
  border-bottom: 1px solid;
  text-decoration: none;
}
a:hover {
  color: #8E8E8E;
}
img, video {
  width: 100%;
}
span {
  display: inline-block;
}
.clear {
  margin-bottom: 0;
}





/*------------ Layout Grid ------------*/

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  padding-top: 50px;
  padding-left: 50px;
}
    @media (max-width: 800px) {
      #header {
        padding-top: 20px;
        padding-left: 20px;
      }
    }

.spacer {
  padding-bottom: 100px;
}
    @media (max-width: 800px) {
      .spacer {
        padding-bottom: 100px;
      }
    }

.note {
  padding-left: 50px;
  display: none;
  padding-top: 10px;
  color: #8e8e8e;
}
    @media (max-width: 800px) {
      .note {
        padding-left: 20px;
      }
    }

.project {
  margin-bottom: 200px;
  width: 100%;
}
    @media (max-width: 800px) {
      .project {
        margin-bottom: 150px;
      }
    }

.content {
  max-width: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px 30px;
  padding: 50px;
  width: auto;
}
    @media (max-width: 800px) {
      .grid-container {
        display: block;
        padding: 20px;
        width: auto;
      }
    }

.back-to-top  {
  color: #8e8e8e;
}
.back-to-top:hover  {
  color: #000;
}


#footer {
  padding: 50px;
}
    @media (max-width: 800px) {
      #footer {
        padding: 20px;
      }
    }

/*------------ Mobile & Desktop Hide and Show ------------*/


@media (max-width: 800px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 801px) {
  .hidden-desktop {
    display: none;
  }
}





/*------------ Filters ------------*/

/*--- Hide and Show ---*/

.project {
  display: none;
}
input#f-all:checked ~ .all {
  display: block;
}

input#f-metal:checked ~ .plastic, {
  display: none;
}
input#f-metal:checked ~ .metal {
  display: block;
}

input#f-plastic:checked ~ .metal {
  display: none;
}
input#f-plastic:checked ~ .plastic {
  display: block;
}

input#f-wood:checked ~ .plastic, .metal {
  display:none;
}
input#f-wood:checked ~ .wood {
  display:block;
}



/*--- Radio & Label Styling ---*/

/* Hide radio buttons */
input {
   display: none;
}
/* Underline all labels so they look like links */
input[type="radio"]+label {
  color: inherit;
  border-bottom: 1px solid;
  text-decoration: none;
}
/* Remove underline for active label */
input[type="radio"]:checked+label {
  border-bottom: 0px solid;
  text-decoration: none;
}
/* Hover effect */
input[type="radio"]:hover+label {
  color: #8E8E8E;
}
/* Give correct cursor on desktop hover */
label {
  cursor: pointer;
  margin-right: 10px;
}
/* Remove hover effect and cusror chancel for active label */
input[type="radio"]:checked:hover+label {
  color: #000;
  cursor: default;
}
.filter-first {
  margin-left: 50px;
}
    @media (max-width: 800px) {
      .filter-first {
        margin-left: 20px;
      }
    }





/*------------ Project: Switch ------------*/

.switch-image1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.switch-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.switch-image2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
    @media (max-width: 800px) {
      .switch-image1, .switch-image2 {
        padding-bottom: 15px;
      }
      .switch-content {
        padding-bottom: 20px;
      }
    }
.switch-image3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}




/*------------ Project: Candle ------------*/

.candle-image1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.candle-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.candle-image2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
    @media (max-width: 800px) {
      .candle-image1 {
        padding-bottom: 15px;
      }
      .candle-content {
        padding-bottom: 20px;
      }
    }




/*------------ Project: Rust ------------*/

.rust-image1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.rust-content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.rust-image2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4   ;
}
.rust-image3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.rust-image4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
    @media (max-width: 800px) {
      .rust-image1, .rust-image2, .rust-image4 {
        padding-bottom: 15px;
      }
      .rust-content {
        padding-bottom: 20px;
      }
    }





/*------------ Project: Frame ------------*/

.frame-image1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.frame-content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.frame-image2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
    @media (max-width: 800px) {
      .frame-image1 {
        padding-bottom: 15px;
      }
      .frame-content {
        padding-bottom: 20px;
      }
    }




/*------------ Project: Stem ------------*/

.stem-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.stem-image1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
    @media (max-width: 800px) {
      .stem-content {
        padding-bottom: 20px;
      }
    }




/*------------ Project: Spire ------------*/

.spire-image1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.spire-image2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.spire-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.spire-image3 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}
    @media (max-width: 800px) {
      .spire-content {
        padding-bottom: 20px;
      }
      .spire-image1, .spire-image2 {
        padding-bottom: 15px;
      }
    }



/*------------ Project: Tower ------------*/

.tower-image1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
.tower-image2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}
.tower-content {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
.tower-image3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}
    @media (max-width: 1040px) {
      .tower-image3 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    }
    @media (max-width: 800px) {
      .tower-content {
        padding-bottom: 20px;
      }
      .tower-image1, .tower-image2 {
        padding-bottom: 15px;
      }
    }
